<div data-hook="product_properties" class="advanced-product-properties">

  <% Spree::PROPERTIES_LEFT.each do |show_type| %>
    <% unless @product_properties.hash_for(show_type).empty? %>

      <div class="property-types-wrapper">

        <% for title in @product_properties.hash_for(show_type).keys %>

          <div class="property-type flex1">
            <h3 class="product-property-type-title"><%= title %></h3>

            <ul class="properties-list">
              <% for product_property in @product_properties.hash_for(show_type)[title] %>
                <li class="property">
                  <%#= image_tag product_property.property.icon(:mini) %>
                  <span class="property-label"><%= product_property.property.presentation %></span>
                  <span class="pull-right"><%= product_property.value %></span>
                </li>
              <% end %>
            </ul>

          </div>

        <% end %>
      </div>

    <% end %>
  <% end %>
</div>
